#layout {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
}

.board {
    height: 100%;
    width: 100%;
}

.avatar {
    /* position: absolute;
    bottom: 0; */
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    /* width: 33vw;
    height: 80vh; */
    /* border: solid 2px red; */
}

.avatar-jump {
    /* position: absolute;
    bottom: 0; */
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    /* border: solid 2px red; */
}

.avatar-wrap {
    position: absolute;
    bottom: 0;
    height: 30vh;
    width: 7.5vw;
    /* border: solid red 2px; */
}

#css-closed {
    background-image: url('../../assets/images/css-closed.png');
}

#css-open {
    background-image: url('../../assets/images/css-open.png');
}

#html-closed {
    background-image: url('../../assets/images/html-closed.png');
}

#html-open {
    background-image: url('../../assets/images/html-open.png');
}

#js-closed {
    background-image: url('../../assets/images/js-closed.png');
}

#js-open {
    background-image: url('../../assets/images/js-open.png');
}
/* 
#game {
    height: 200px;
    width: 200px;
} */
